body {
  background: #fafafa;
  color: #333333;
  /*margin-top: 5rem;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.bg-black {
  background-color: #696969;
}

.up {text-transform: uppercase;}

/*LEVELS*/
.btn-level{
  color:#fff;
  background-color:#696969;
  border-color:#696969
  }
.btn-level:hover{
  color:#383d41;
  background-color:#e2e3e5;
  border-color:#545b62
  }
.btn-level-active{
  color:#383d41;
  background-color:#e2e3e5;
  border-color:#545b62
  }

/*TOWER*/
.btn-tower{
  color:#fff;
  background-color:#557A95; /* D5D8DC */
  border-color:#545b62
  }
.btn-tower:hover{
  color:#333333;
  background-color:#7395AE;
  border-color:#545b62
  }
.btn-tower-active{
  color:#333333;
  background-color:#7395AE;
  border-color:#333333
}

/* Heart Breat HB */
.btn-hb{
  color:#fff;
  background-color:#476A6F;
  border-color:#586D4A
  }
.btn-hb:hover{
  color:#333333;
  background-color:#7EB09B;
  border-color:#333333
  }
.btn-hb-active{
  color:#333333;
  background-color:#7EB09B;
  border-color:#586D4A
  }


/*NEWS*/
.news{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #CACFD2;
  padding: 5px;
  margin-bottom: 10px;
}

.news-header{
  color:#707B7C;
  font-size: 0.8rem;
/*  font-style: italic;*/
}

.news-txt{
  color:#333333;
  font-size: 0.8rem;
/*  text-align: justify;
  text-justify: inter-word;
*/}

/* STAT */
/*.btn-stat{
  color:#212529;
  background-color:#ffc107;
  border-color:#d39e00}
.btn-stat:hover{
  color:#212529;
  background-color:#e0a800;
  border-color:#d39e00}
.btn-stat.focus,.btn-stat:focus{
  color:#212529;
  background-color:#e0a800;
  border-color:#d39e00;
  box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}
.btn-stat.disabled,.btn-stat:disabled{
  color:#212529;
  background-color:#ffc107;
  border-color:#ffc107}
.btn-stat:not(:disabled):not(.disabled).active,.btn-stat:not(:disabled):not(.disabled):active,.show>.btn-stat.dropdown-toggle{
  color:#212529;
  background-color:#d39e00;
  border-color:#c69500}
.btn-stat:not(:disabled):not(.disabled).active:focus,.btn-stat:not(:disabled):not(.disabled):active:focus,.show>.btn-stat.dropdown-toggle:focus{
  box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}
*/


/* cut */



.site-header .navbar-nav .nav-link {
  color: #D3D3D3;
  /*color: #cbd5db;*/
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}