<!DOCTYPE html>
<html>
<head>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="./main.css"> -->

    <script type="text/javascript">
      // Tooltips Initialization
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      })

      // // Force to refresh images in rtdata
      // function refreshImage(imgElement, imgURL){    
      //     // create a new timestamp 
      //     var timestamp = new Date().getTime();  
        
      //     var el = document.getElementById(imgElement);  
        
      //     var queryString = "?t=" + timestamp;    
         
      //     el.src = imgURL + queryString;    
      // }      
    </script>


    <title>TOWERS</title>
</head>
<body>


    <header class="site-header">

    <main role="main" class="container">
        <div class="row">

            <!-- <div class="col-md-2 my-auto"><img src="./static/tower_logo_ver01_sm.png" width="100%"></div> -->
            <div class="col-md-2 my-auto"><img class="float-right" src="{{ url_for('static', filename='tower_logo_ver01_sm.png') }}" width="90%"></div>
            <div class="col-md-5">
                <h1 style="font-size: 100pt;" class="display-1 font-weight-lighter">TOWER</h1>
            </div>

        </div>
    </main>


      <nav class="navbar navbar-expand-md navbar-dark bg-black font-weight-lighter">
        <div class="container my-auto ">
          <a class="navbar-brand mr-4" href="/">TOWERS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- <a class="nav-item nav-link" href="/">Home</a> -->
              <!-- <a class="nav-item nav-link" href="/towers">Towers</a> -->
              <a class="nav-item nav-link" href="/description">DESCRIPTION</a>
              <a class="nav-item nav-link" href="/references">REFERENCES</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <!--a class="nav-item nav-link" href="https://tower.ocean.ru/accounts/login/">Download</a-->
              <a class="nav-item nav-link" href="/download">DOWNLOAD</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
          <div class="col-md-2 text-right">
            {% block content_left %}{% endblock content_left %}
          </div>
          <div class="col-md-8">
          <br>
            {% block content_center %}{% endblock content_center %}
<!-- LOGOS -->
            <div class="col ml-auto align-self-end">
                <br>
              <a href='https://kantiana.ru'> 
                <img style="padding-left: 3pt;" class="float-right" src="{{ url_for('static', filename='bfu_logo.png') }}" width="110">
              </a>
              <a href='http://www.geogr.msu.ru'> 
                <img style="padding-left: 3pt;" class="float-right" src="{{ url_for('static', filename='logo-mgu.png') }}"      width="50">
              </a>
              <a href='https://rcc.msu.ru'> 
                <img style="padding-left: 3pt;" class="float-right" src="{{ url_for('static', filename='srcclogo.gif') }}"      width="50">
              </a>
              <a href='https://sail.ocean.ru'> 
                <img style="padding-left: 3pt;" class="float-right" src="{{ url_for('static', filename='logo_sail_v02.png') }}" width="50">
              </a>
              <a href='http://www.ifaran.ru'> 
                <img style="padding-left: 3pt;" class="float-right" src="{{ url_for('static', filename='iap_logo.gif') }}"      width="120px">
              </a>
            </div>  
          </div>
<!-- RIGHT (NEWS) -->
          <div class="col-md-2">
            <br>
            <!-- NEWS -->

            <div class="news font-weight-light">
              <div class="news-header text-left">2023-05-27</div>
              <div class="news-txt ">We are proud to announce a new mast located in the Kaliningrad region (the BFU base in Pionersk)</div>
            </div>

            <div class="news font-weight-light">
              <div class="news-header text-left">2023-04-10</div>
              <div class="news-txt ">MoscowMSU: sonic A3 (at 18.8 m) has gone offline. Needs reparing. </div>
            </div>

            <div class="news font-weight-light">
              <div class="news-header text-left">2022-11-13</div>
              <div class="news-txt ">MoscowMSU: meteo sensors M1 (2 m) and M2 (11 m) were taken for calibration. </div>
            </div>

          </div>
        </div>
    </main>

<footer>

</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
