{% extends "layout.html" %}

{% block content_left %}
{% endblock content_left %}

{% block content_center %}

		<article class="media content-section">
			<div class="media-body" style="margin-left: 40px; text-indent: -40px;">
					
				<!-- <div class="p-3 mb-2 bg-warning text-dark">Not ready yet. May be Barskov's papers?</div> -->

<!-- 				<p>Эколого-климатические характеристики атмосферы Москвы в 2018 г. по данным Метеорологической обсерватории МГУ имени М.В. Ломоносова. Под редакцией М.А.Локощенко / М. А. Локощенко, Е. Ю. Жданова, Е. В. Горбаренко, Репина И.А., Варенцов М.И., Артамонов А.Ю. и др. — Москва: Москва</i>, <b>2019</b>. — 277 с. ISBN: 978-5-317-06312-2. DOI: 10.29003/m856.atm-2018 https://www.elibrary.ru/item.asp?id=42438036</p>


				<p>Дрозд И.Д., Гавриков А.В., Степаненко В.М., Репина И.А., Артамонов А.Ю., Пашкин А.Д. Статистические характеристики турбулентности в условиях городской застройки по данным микрометеорологической мачты МГУ  // <i>Международная молодежная школа и конференция по вычислительно-информационным технологиям для наук об окружающей среде CITES '2021</i>. — <b>2021</b>. — С. 42–44.  https://istina.msu.ru/publications/article/404043138/</p>

				<p>Дрозд И.Д., Гавриков А.В., Степаненко В.М., Репина И.А., Артамонов А.Ю., Пашкин А.Д.  Пространственно-временная изменчивость статистических характеристик турбулентности в условиях городской застройки / И. Д. Дрозд, А. В. Гавриков, В. М. Степаненко и др. // <i>Международная конференция и школа молодых ученых по измерениям, моделированию и информационным системам для изучения окружающей среды ENVIROMIS-2022. — ИМКЭС СО РАН Томск</i>, <b>2022</b>. — С. 280–283. https://istina.msu.ru/publications/article/494969786/</p>

				<p>Артамонов А.Ю., Репина И.А., Гавриков А.В. Экспериментальные исследования вертикальной структуры атмосферного пограничного слоя с использованием контактных и дистанционных измерений/ // <i>Международная конференция и школа молодых ученых по измерениям, моделированию и информационным системам для изучения окружающей среды ENVIROMIS-2022. ИМКЭС СО РАН Томск</i>, <b>2022</b>. С. 135–138.  https://istina.msu.ru/publications/article/495251064/</p>
 -->
				<p>Drozd I., Repina I., Gavrikov A., Stepanenko V., Artamonov A., Pashkin A., Varentsov A. Atmospheric turbulence structure above urban nonhomogeneous surface // <i>Russian Journal of Earth Sciences</i>. — <b>2022</b>. — Vol. 22, no. 5. — P. ES01SI11.  <a href="https://rjes.ru/en/nauka/article/54912/view">НАУКА</a>  <a href="https://istina.msu.ru/publications/article/509282479/">ИСТИНА</a></p>

				<p>Barskov K., Chechin D., Drozd I., Artamonov A., Pashkin A., Gavrikov A., Stepanenko V., Repina, I. Relationships Between Second and Third Moments in the Surface Layer Under Different Stratification over Grassland and Urban Landscapes // <i>Boundary-Layer Meteorology</i>. – <b>2023</b>. V. 187. №. 1-2. P. 311-338.  <a href="https://link.springer.com/article/10.1007/s10546-022-00751-4">Springer</a>  <a href="https://istina.msu.ru/publications/article/517489999/">ИСТИНА</a></p>

				<p>Дрозд И.Д., Артамонов А.Ю., Барсков К.В., Гавриков А.В., Пашкин А.Д., Репина И.А., Степаненко В.М.  Соотношение вторых и третьих турбулентных моментов в городском пограничном слое атмосферы на примере данных микрометеорологической мачты МГУ // <i>Известия РАН, Физика атмосферы и океана</i>, <b>2023</b>, т.59, №4 (принято в печать).</p>



			</div>
		</article>
               

{% endblock content_center %}