{% extends "layout.html" %}

{% block content_left %}

	<!-- <u><a class="font-weight-lighter mr-2" href="/" ><font> all towers </font></a></u><br> -->
	<br>
    <!-- <div class="font-weight-lighter text-center" style="padding: 0; margin-bottom: 20px; font-size: 18pt; line-height: 80%" > -->
    <!-- <button type="button" class="btn btn-outline-dark font-weight-lighter text-center" style="padding: 5px; margin-bottom: 5px; font-size: 18pt; line-height: 80%"> -->
    	<a class="mr-2" href="./rtdata?tower={{ tower }}&city={{ city }}" style="text-decoration: none;">
    	<div class="btn btn-tower-active btn-lg font-weight-lighter text-center" style="width: 100%; padding: 10px; margin-bottom: 0px; font-size: 12pt; line-height: 100%" >
				<font >{{ city }}</font><font class="font-weight-light">{{ tower }}</font>
				<br>
				<font style="font-size: 10pt;">real-time data</font>
			</div>
    	</a>
    	<br>
	<!-- </button> -->
<hr>


	</article>

<!-- LEFT PANEL -->
<!-- level buttons -->
		{% for level in levels %}

			{% if active == level[0] %}
				<a href="./rtdata?tower={{ tower }}&city={{ city }}&section=&active={{ level[0] }}">
					<div class="btn btn-level-active btn-lg font-weight-light" style="width: 100%; margin-bottom: 5px; font-size: 9pt; "  data-toggle="tooltip" data-placement="right" data-html="true" title=" {{ variables[loop.index0] }} " >
						<b><u>LEVEL {{ level[0] }} m </u></b><br>
						<font style="font-size: 8pt; line-height: 70%;">{{ equipment[loop.index0] }}</font>
					</div></a><br>
			{% else %}
			  	<a href="./rtdata?tower={{ tower }}&city={{ city }}&section=&active={{ level[0] }}">
			  		<div class="btn btn-level btn-lg font-weight-light" style="width: 100%; margin-bottom: 5px; font-size: 9pt;"   data-toggle="tooltip" data-placement="right" data-html="true" title=" {{ variables[loop.index0] }} " >
			  			<b><u>LEVEL {{ level[0] }} m </u></b> <br>
			  			<font style="font-size: 8pt; line-height: 70%;">{{ equipment[loop.index0] }}</font>
			  		</div></a><br>
			{% endif %}

		{% endfor %}
		<hr>
		<!-- <br> -->
<!-- heart beat button -->
		{% if section == "hb" %}
      		<a href="./rtdata?tower={{ tower }}&city={{ city }}&section=hb&hbvar=hbtemp"><div class="btn btn-hb-active btn-lg font-weight-lighter" style="width: 100%; margin-top: 5px; font-size: 12pt;">TOWER STATE</div></a><br>
      	{% else %}
      		<a href="./rtdata?tower={{ tower }}&city={{ city }}&section=hb&hbvar=hbtemp"><div class="btn btn-hb btn-lg font-weight-lighter" style="width: 100%; margin-top: 5px; font-size: 12pt;" data-toggle="tooltip" data-placement="right" title="Shows the condition of the PC: CPU & enviroment temperature, Memory and Network consumption">TOWER STATE</div></a><br>
      	{% endif %}

{% endblock content_left %}

{% block content_center %}

	<article class="media content-section">

		<div class="media-body">

		  	{% if section == 1 %}

		        <h1 class="display-5 font-weight-light">{{city}}<b>{{ tower }}</b> description</h1>

		        {% if tower == "MSU" %}
			        <img src="{{url_for('static', filename='MoscowMSU.jpg')}}" width="70%">
			        <img src="{{url_for('static', filename='MoscowMSU_scheme.png')}}" width="29%">
		        {% elif tower == "PIO" %}
		        <!-- <figure class="figure"> -->
			        <img src="{{url_for('static', filename='KaliningradPIO_photo.jpg')}}" width="67%">
			        <img src="{{url_for('static', filename='KaliningradPIO_scheme.png')}}" width="32%">
		        {% endif %}

		        <p class="font-weight-light">
		        	{{ details[0] }}
		        </p>

			{% else %}


				{% if section == "" %}

<!-- buttons of variables -->
					<!-- <font class="text-muted">Measured parameters:</font><br> -->

					{% for eq_type in types %}
				  		<img src="{{url_for('static', filename='%s_L%s_%s_data24hr.png'%(tower,active,eq_type[0]))}}" width="100%">
					{% endfor %}

				{% elif section == "hb" %}

				  	{% if hb_alert %}
					  	<div class="alert alert-danger font-weight-light " role="alert">
					{% else %}
					  	<div class="alert alert-secondary font-weight-lighter font-italic" role="alert">
					{% endif %}
						Last updated at {{ hb_lastupdate }} (<b>{{ hb_dlastupdate }}</b> ago).</div>

					<center>
					{% for iv in hb_variables %}
						{% if hbvar == iv['name'] %}
							<a class="mr-2" href="./rtdata?tower={{ tower }}&city={{ city }}&section=hb&hbvar={{ iv['name'] }}">
								<div class="btn btn-hb-active font-weight-light" style="width: 31%; font-size: 9pt;">{{ iv['long_name'] }}</div></a>
						{% else %}
							<a class="mr-2" href="./rtdata?tower={{ tower }}&city={{ city }}&section=hb&hbvar={{ iv['name'] }}">
								<div class="btn btn-hb font-weight-light" style="width: 31%; font-size: 9pt;">{{ iv['long_name'] }}</div></a>
						{% endif %}
					{% endfor %}
					</center>

					<br>
					<p>The state of the PC on Tower that reads data from different sensors and sends it to the server.</p>

				  	<small class="text-muted">Last day</small>
				  	<img src="{{url_for('static', filename='%s_%s_1d.png'%(tower,hbvar))}}" width="100%">
				  	<small class="text-muted">Last week</small>
				  	<img src="{{url_for('static', filename='%s_%s_1w.png'%(tower,hbvar))}}" width="100%">
				  	<small class="text-muted">Last month</small>
				  	<img src="{{url_for('static', filename='%s_%s_1m.png'%(tower,hbvar))}}" width="100%">
				  	<small class="text-muted">Last year</small>
				  	<img src="{{url_for('static', filename='%s_%s_1y.png'%(tower,hbvar))}}" width="100%">

				{% else %}

					<h1 class="display-4">404</h1>

				{% endif %}

		  	{% endif %}

	</article>


{% endblock content_center %}
